<div class="container">

    <h3>Experience</h3>


  <div class="card-holder">
    <app-card
    title="Point Park University"
    sub="Bachelor's of Computer Science"
    img="assets/point-park.jpg"
    ></app-card>


    <app-card
    title="First National Bank"
    sub="Full-Time Summer Co-Op"
    img="assets/fnb.jpg"
    ></app-card>

    <app-card
    title="FedEx Corporate"
    sub="Student Internship"
    img="assets/fedex.jpg"
    ></app-card>

    <app-card
    title="Red House Communications"
    sub="Student Internship"
    img="assets/redhouse.jpg"
    ></app-card>

    <app-card
    title="Technology Associate"
    sub="June 2022-Present"
    img="assets/staples.jpg"
    ></app-card>

    <app-card
    title="Voter Contact Member"
    sub="2022 Seasonal Position"
    img="assets/outreach.jpg"
    ></app-card>
  </div>

</div>
